name: Build
on: [push, pull_request, release]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.4
      with:
          persist-credentials: false
          submodules: true

    - uses: cachix/install-nix-action@v12
      with:
        nix_path: nixpkgs=channel:nixos-unstable
        extra_nix_config: |
          trusted-public-keys = cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= hydra.iohk.io:f/Ea+s+dFdN+3Y/G+FDgSq+a5NEWhJGzdjvKNGv0/EQ=
          substituters = https://cache.nixos.org/ https://hydra.iohk.io

    - uses: cachix/cachix-action@v8
      with:
        name: rel8
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

    - run: nix-build -A hsPkgs.rel8.components.library
